*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --pastel: #D2D8B3;
  --raisin: #272727;
  --beige: #D4AA7D;
  --tuscan: #EFD09E;
  --blue: #90A9B7;
}

body {
  background: var(--raisin);
  color: var(--raisin);
  font-size: 2rem;
  font-family: 'Comfortaa', cursive;
}

.header{
    background: var(--beige);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.header p{
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .5rem;
}

.date{
    /* border: 2px solid; */
    height: 100%;
    width: 12rem;
    font-size: .9rem;
    align-self: center;
}

.mainSection{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    height: calc(100vh - 10rem);

}

.entry, .submit, .exit{
     position: relative;
    width: 50%;
    margin: auto;
    /* border: 2px solid; */
    display: flex;
}

.inputString{
    font-weight: bolder;
}
.inputString, .exit p{
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem; 
    background: var(--tuscan);
    border-radius: 10px;
    border: none;
   
}
.checkedRight{
     position: absolute;
   right: 0.5rem;
   top: 0;
   color: green;
  
}
.checkedWrong{
     position: absolute;
   right: 0.5rem;
   top: 0;
   color: red;

}
.visible{
    visibility: hidden;

}

.submitBtn{
    margin: auto;
    width: 20%;
    padding: .8rem;
    border-radius: 10px;
    border: none;
    font-size: 1.3rem;
    background: var(--beige);
}

.submitBtn:hover{
    background: var(--blue);
    cursor: pointer;
}
